.post.postheader {
    background: #007AFF;
    height: 56px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}
.post.subheader {
    height: 36px;
    line-height: 18px;
    flex-direction: row;
    /*align-content: center;*/
    align-items: flex-end;
    font-weight: 700;
    display: flex;
}
.post.font {
    padding: 7px 49px;
    font-size: 15px;
    font-weight: 400;
}
.avatar {
    height: 32px;
    width: 32px;
    margin: 8px;
}
.row {
    flex-direction: row;
    display: flex;
}
.nickname {
    align-items: flex-start;
}